# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
*.jks
*.keystore

# Release builds — nunca sobe para o git
app/release/
app/debug/

# Gradle
gradle/wrapper/gradle-wrapper.jar
keystore.properties
*.jks
*.keystore
